<div>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-center text-4xl font-black mb-8">
    <%= format_day(@day.date) %>
  </div>

  <div class="flex flex-wrap justify-center items-center w-full">
    <%= turbo_frame_tag @day, "scratches", src: scratch_path(@day) do %>
      <%= render 'scratches/show_loading' %>
    <% end %>
  </div>

  <div class="flex justify-center w-full">
    <%= link_to 'Edit', edit_day_path(@day), class: "mt-2 py-3 px-5 inline-block font-xs text-gray-500 underline uppercase" %>
    <%= button_to 'Delete ', day_path(@day), method: :delete, class: "mt-2 py-3 px-5 inline-block font-xs text-red-400 underline uppercase" %>
  </div>
</div>
