<!DOCTYPE html>
<html>
  <head>
    <title>Dog Days</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-zinc-50">
    <main class="container mx-auto px-5 flex justify-center text-cyan-900">
      <div class="flex-col items-center justify-center max-w-screen-lg">
        <div class="flex justify-center my-4 w-full">
          <%= link_to '🦮 Dog Days', days_path, class: "font-black text-2xl text-cyan-600" %>
        </div>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
